<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PostgressConnectionString" value="Host=127.0.0.1;Port=5432;Database=ChatDb;User=posgres;Password=gc2gKosdYI2i8OCsyYUn;"/>
         <!--<add key="PostgressConnectionString" value="Server=localhost;Port=5432;User Id=postgres;Password=;Database=ChatDb"/>-->
    </appSettings>
</configuration>